body{
	background-color: crimson;
}
p{
	font-size: 50px;
	font-family: ;
	color:#6A5ACD; 
	text-align: center;

}
ul,ol{
	font-size: 40px;
	color: #6A5ACD;
    margin: 100px;
}
ul li::marker {
	font-size: 1.5em;
	color:aqua;
}
