
	body{
	background-image: url("https://img.freepik.com/premium-photo/dark-gloomy-grey-and-black-slate-background-or-texture_271317-1488.jpg");
}
	
}
.text{
	font-size: 70px;
}
table{
	border: double 5px black;
	width: 65%;
	height: 60%;
}
th{
	border: solid 5px black;
    font-size: 22px;
}
td{
	width: 150px;
	border: solid 5px black;
	font-size: 22px;
	color: white;
}